<appSettings>
  <add key="FacebookAppId" value="477190009712214" />
  <!--for security issue-->
  <add key="FacebookAppSecret" value="6d108f7136cad7ebe0f61ef9a7709fc6" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>